.authAdminForm-Flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authAdminForm-Flex-Element {
  margin-top: 6%;
  background-color: rgba(255, 255, 255, 0.96);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(55, 55, 55);
  width: 450px;
}

.Auth-link {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.authAdminForm-Titre {
  text-align: center;
  margin-bottom: 50px;
}
