.AjoutUserCard {
  margin-top: 6%;
  background-color: rgba(255, 255, 255, 0.96);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(55, 55, 55);
  width: 325px;
}

.AjoutUserCard-link {
  margin-top: 6%;
  background-color: rgba(255, 255, 255, 0.96);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(55, 55, 55);
  width: 325px;
  height: 255px;
}

.AjoutUserCard-ajoutForm {
  display: grid;
  grid-template: repeat(5, 1fr) 1fr / 1fr 1fr;
}

.AjoutUserCard-Title {
  text-decoration: underline;
  font-weight: bold;
}

.AjoutUserCard-Title-Ajout {
  text-align: right !important;
  margin-right: 10px;
}

.btn-ajout,
.btn-annulerAjout {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.btn-ajout {
  background-color: rgb(0, 255, 0) !important;
  color: rgb(61, 47, 37) !important;
  border: solid 2px rgb(61, 47, 37) !important;
  margin-bottom: 12px !important;
}

.btn-annulerAjout {
  background-color: rgb(255, 0, 0) !important;
  color: rgb(61, 47, 37) !important;
  border: solid 2px rgb(61, 47, 37) !important;
  margin-bottom: 12px !important;
}

.AddUser-Form {
  margin-top: 12px !important;
}

.ajoutLink {
  flex-direction: column;
}

.ajoutLink-plus {
  font-size: 100px;
  font-weight: bold;
}

.ajoutLink-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ajoutLink:hover > .ajoutLink-plus,
.ajoutLink:hover > .ajoutLink-text {
  color: rgb(39, 85, 178);
}

.ajoutLink:hover > .ajoutLink-text {
  text-decoration: underline;
}

.ajoutLink:active > .ajoutLink-plus,
.ajoutLink:active > .ajoutLink-text {
  color: rgb(178, 39, 39) !important;
}

.ajoutLink:active > .ajoutLink-text {
  text-decoration: underline;
}
