.gridEspece{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      margin: 50px;
}

.gridImage{
      width: 90%;
      height: 250px;
      object-fit: contain;
}

.carte{
      border: 1px solid gray;
      border-radius: 20px;
      box-shadow: gray 5px 3px 5px;
      text-decoration: none;
      transition: 0.5s !important;
      scale: 1 !important;
}

.carte:hover{
      transition: 0.5s !important;
      scale: 1.075 !important;
}

.titre{
      text-align: center;
      text-decoration: none;
      font-size: 20px;
}

.noDeco{
      text-decoration: none;
}