.filtre-grid {
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 0px 0px 10px 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 5px 5px 5px rgb(55, 55, 55);
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
  margin-bottom: 20px;
}

.filtre-grid-element {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.filtre-grid-element-large {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  grid-column: 1 / span 2;
}

.btn-filtreUser-Annul,
.btn-filtreUser-Rech {
  margin-top: 13px !important;
}

.filtreUser-input {
  display: block !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.btn-filtreUser-Annul {
  background-color: rgb(168, 59, 47) !important;
  color: rgb(255, 0, 0) !important;
  border: solid 2px rgb(255, 0, 0) !important;
  margin-bottom: 12px !important;
}

.btn-filtreUser-Rech {
  background-color: rgb(168, 59, 47) !important;
  color: rgb(0, 255, 0) !important;
  border: solid 2px rgb(0, 255, 0) !important;
  margin-bottom: 12px !important;
}

.FiltreUser-titre {
  text-decoration: underline;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
