.allUserCard-Grid {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.UserCard-Only {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
