body{
    background-color: #f2f2f3;
  }
  
  .alertes-user-board {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(20, 4em);
    grid-column-gap: 15%;
    grid-row-gap: 20%;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 2%;
    
}

.center{
  text-align: center;
}

.menuItem{
  background-color: aqua;
}


@media screen and (max-width: 1000px){


  .alertes-user-board {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(20, 14em);
    grid-column-gap: 20%;
    grid-row-gap: 20%;
    margin-left: 8%;
    margin-right: 1%;
    margin-top: 7%;
    height: 27em !important;
}

}

@media (min-width: 1100px) and (max-width: 1300px){


  .alertes-user-board {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(20, 3.3em);
    grid-column-gap: 15%;
    grid-row-gap: 25%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
}

}

.btnAddAlerte{
  margin-left: 3%;
}