.question{
      width: 80%;
      margin-left: 10%;
      display: grid;
      grid-template-columns: 1fr;
}

.questionnaire{
      border: 2px black solid;
      border-radius: 20px;
}

.questionnaires{
      margin-left: 5%;
      display: grid;
      grid-template-columns: repeat(2, 40%);
      grid-gap: 10%;
}

.reponse{
      display: grid;
      grid-template-columns: 10% 80% 10%;
}